@import "../scss/variables.scss"; 

body {
  background: $backgroundColour;
  font-family: sans-serif;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
    li {
      padding: 2% 0;
    }
  }
  button {
    background-color: $green;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
  }
}

.hero {
  background-image: url("../images/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;

}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 1100px;
}