@import "../scss/variables.scss"; 

body {
  background: $backgroundColour;
  font-family: sans-serif;
}

body, ul, li {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

h1 {
  font-size: 21px;
  font-weight: normal;
}

p {
  font-size: 14px;
}

img {
  margin: 10px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
    li {
      padding: 2% 0;
    }
  }
  button {
    background-color: $green;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 15px;
    margin: 4px;
  }
}

.hero {
  background-image: url("../images/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 16% 0 3%;
  text-align: center;
  img {
    position: absolute ;
    left: 0;
    top: 0;
  }
}

.intro {
  display: flex;
}

.startTrialButton {
  background: $green;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.buttonContainer {
  text-align: center;
}

.twoExamples {
  display: flex;
}

.mountainContainer {
  display: flex;
  p {
    width: 50%;
  }
}
